/*body {
  background-image: url("https://backgrounddownload.com/star-wars-space-background-1/");
  }
   background-image: url(https://static-mh.content.disney.io/starwars/assets/navigation/sw_logo_stacked-336c62367939.png);
    background-repeat: no-repeat; */

  .topContainer {
   background-image: url(./images/swbg.jpg);
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
/*
  #nav-sw-logo {
    display: block;
    top: 50%;
    width: 100%;
    max-width: 203px;
    height: 10%;
    max-height: 88px;
    margin: -44px auto 0;
    box-sizing: border-box;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/navigation/sw_logo_stacked-336c62367939.png);
    background-size: contain;
*/
  .rectangle {
    color:grey;
    width: 100px;
    height: 10px;
    background: black;
    /*margin: 10px;*/
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
  }
  .flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(./images/swbg.jpg);
  }
#searchbar { 
  background-color: rgb(87, 82, 82);
  color: rgba(138, 136, 136, 0.009);

  width: 150px;
  height: 20px;
  /*margin: 10px;*/
  padding: 10px;
  border: solid;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 5px;

}
/* start with grey search bar in the morning.  */

.flex2 {
  display: flex;
  justify-content: flex-end;
}

.bg {
  /* The image used */
  background-image: url("");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/swbg.jpg);
}